@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.col-10 {
    width: 88% !important;
    height: 100vh;
}
.col-2 {
    width: 12% !important;
    height: 100vh;
    overflow: auto;
}
.margin-less {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.setting-control{
    position: fixed;
    padding: 20px;
    bottom: 0px;
    right: 0px;
}
.setting-container{
    background: rgba(86,86,86,0.98);
    color: rgb(213, 213, 213);
    padding: 10px;
    display: flow;
    font-size: 0.9em;
}

canvas {
    width: 100%;
    height: 100%;
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*display: block;*/
    background: black;
}
#control-div {
    float: left;
    position: relative;
    z-index: 3;
}
.control-group {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 400px;
    z-index: 3;
    background: white;
}

.gman-widget-outer {
    float: none;
}

#ui {
    width: auto;
    padding: 7px;
    background-color: #FFFFFF;
    border-radius: 2%;
}
