@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
    margin: 0;
}
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background: black;
}

.gman-widget-outer {
    float: none;
}

#ui {
    width: auto;
    padding: 7px;
    background-color: #FFFFFF;
    border-radius: 2%;
}